appnope==0.1.0
attrs==17.4.0
certifi==2018.1.18
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
decorator==4.2.1
Django==1.11.5
django-configurations==2.0
django-filter==1.1.0
django-cors-headers==2.1.0
djangorestframework==3.6.4
ecdsa==0.13
factory-boy==2.10.0
Faker==0.8.12
future==0.16.0
gunicorn==19.7.1
idna==2.6
ipython==6.2.1
ipython-genutils==0.2.0
itypes==1.1.0
jedi==0.11.1
Jinja2==2.10
MarkupSafe==1.0
parso==0.1.1
pexpect==4.4.0
pickleshare==0.7.4
pluggy==0.6.0
prompt-toolkit==1.0.15
psycopg2==2.7.4
ptyprocess==0.5.2
py==1.5.2
pyasn1==0.3.4
pycrypto==2.6.1
Pygments==2.2.0
PyHamcrest==1.9.0
pytest==3.4.2
pytest-django==3.1.2
pytest-cov==2.6.0
python-dateutil==2.7.0
python-jose==1.4.0
pytz==2017.2
requests==2.19.1
rsa==3.4.2
simplegeneric==0.8.1
six==1.10.0
text-unidecode==1.2
traitlets==4.3.2
uritemplate==3.0.0
wcwidth==0.1.7
dj-database-url==0.5.0

teamcity-messages==1.21
git+https://07de0218088728b42ee60f155c71990f1dc6a717:x-oauth-basic@github.com/Q-CIS-DEV/trood-auth-client.git#egg=trood-auth-client