Django==2.2.6
django-configurations==2.1
django-cors-headers==3.1.1
django-filter==2.2.0
djangorestframework==3.10.3
dj-database-url==0.5.0
django-redis==4.10.0

psycopg2-binary==2.8.4
requests==2.22.0
PyYAML==5.1.2
jsonfield==2.0.2

pytest==5.2.2
coverage < 5 # Remove when will bug https://youtrack.jetbrains.com/issue/PY-41830 be fixed or local Teamcity instance updated
pytest-cov==2.8.1
pytest-django==3.6.0

coreapi==2.3.3
coreschema==0.0.4
factory-boy==2.10.0
Faker==0.8.12
future==0.16.0
gunicorn==19.7.1
PyHamcrest==1.9.0
python-dateutil==2.7.0
pytz==2017.2
rsa==3.4.2
uritemplate==3.0.0
raven==6.9.0

django-language-field

teamcity-messages==1.21
trood==2020.4.dev30
